html {
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Fjalla One', sans-serif;
}

/*
Header
*/


.header {
    background: #aac3c3;
    background-image: url("../IMG/brushes-1683134_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 88vh;
    width: 100%;

    color: #eeeeee;
    text-align: left;
    text-shadow: 1px 2px 3px #000000 /*, 0 0 1em red*/;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    

}
/* 19,2 */
.title {
    font-size: 9.5vmax; 
    margin-bottom: 0;
    margin-left: 2vw;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2em;
    

}

.slogan {
    font-size: 5.5vmax;
    margin-bottom: 2vw;
    margin-right: 2vw;
    font-family: 'Fjalla One', sans-serif;
    align-self: flex-end;
    
}


/*
Menu (animation)
*/

.menu
ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    max-height: 10vh;
    font-family: 'Oswald';
    background-color: #ffffff;
}

    .ul {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
        ul li {
            list-style: none;
            margin: 0 2vw;
            font-size: 4vw;
        }

            ul li a {
                position: relative;
                color: #eeeeee;
                text-decoration: none;
                font-weight: 100%;
            }

              ul li a:before
                    {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    color: #262626;
                    white-space: nowrap;
                    transition: 0.5s ease-in-out;
                    }
                
                    ul:not(:hover) li a:before
                    {
                        animation: animate2 0.5s steps(30) forwards;
                    }
                    @keyframes animate2
                    {
                        0%
                        {
                            width: 0;
                        }
                        100%
                        {
                            width: 100%; 
                        }
                    }
                    
                    ul:hover li a:before
                    {
                        animation: animate1 0.5s steps(30) forwards;
                    }
                    
                    @keyframes animate1
                    {
                        0%
                        {
                            width: 100%;
                        }
                        100%
                        {
                            width: 0; 
                        }
                    }
                    
                    ul li:hover  a:before
                    {
                        animation: animate3 0.5s steps(30) forwards;
                    }
                    
                    @keyframes animate3
                    {
                        0%
                        {
                            width: 0;
                        }
                        100%
                        {
                             width: 100%;
                        }
                    
                    }

/*
Footer
*/
.footer{
    background-color: white;
    margin: 0;
    width: 100%;
    height: 5vh;
}


/*
Scrollbar
*/